name: Deploy Easylang

on:
  push:
    branches: ["mainx"]

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Install
        run: |
          #sudo apt update        
          #sudo apt install default-jdk
          cd
          curl -L https://github.com/emscripten-core/emsdk/archive/refs/heads/main.zip -o main.zip
          unzip -q main.zip
          mv emsdk-main emsdk
          source emsdk/emsdk_env.sh
          emsdk update ; emsdk list
          # vers=latest
          vers=3.1.70
          emsdk install $vers ; emsdk activate $vers
      - name: Clone
        run: |
          cd
          pwd
          curl -L https://github.com/chkas/easylang/archive/refs/heads/main.zip -o main.zip
          unzip -q main.zip
          ls -l  
          mv easylang-main easylang
          source emsdk/emsdk_env.sh
          cd easylang
          ./mk
          (cd apps; ./mk_aoc)
          rm -rf $HOME/easylang/wrk
          cp $HOME/easylang/misc/root_easylang.html $HOME/out/easylang/index.html
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: /home/runner/out/easylang
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
